.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 4.2rem;
}
.grid2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid5 {
  grid-template-columns: repeat(5, 1fr);
}
.gridAuto {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
