.copyright {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-size: 600;
  line-height: 1;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.copyrightText {
  text-decoration: none;
}
@media only screen and (max-width: 52.5em) {
  .copyright {
    display: none;
  }
}
