.form {
  display: flex;
  align-items: flex-start;
  gap: 3.2rem;
  width: 100%;
}
.form:not(:last-child) {
  margin-bottom: 3.6rem;
}
.colForm {
  flex-direction: column;
  gap: 3.2rem;
}
.formErr {
  font-size: 2rem;
  color: var(--color-warn);
  text-align: center;
  font-weight: 600;
  align-self: center;
}
.formWidth {
  width: 70%;
}
@media only screen and (max-width: 62.5em) {
  .formWidth {
    width: 100%;
  }
}
